<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informações do Docker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Informações do Docker</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="isLoading">
    <div>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <div *ngIf="!isLoading && dockerInfo && dockerVersion">
    <ion-list>
      <ion-item>
        <ion-label>Plataforma</ion-label>
        <ion-note slot="end">{{dockerVersion.Platform.Name}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Versão</ion-label>
        <ion-note slot="end">{{dockerVersion.Version}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Versão da API</ion-label>
        <ion-note slot="end">{{dockerVersion.ApiVersion}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Arquitetura</ion-label>
        <ion-note slot="end">{{dockerVersion.Arch}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Data da Versão</ion-label>
        <ion-note slot="end">{{dockerVersion.BuildTime | date}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>SO</ion-label>
        <ion-note slot="end">{{dockerInfo.OperatingSystem}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Containers</ion-label>
        <ion-note slot="end">{{dockerInfo.Containers}}</ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Imagens</ion-label>
        <ion-note slot="end">{{dockerInfo.Images}}</ion-note>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
