<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Images
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Images</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="height: 100%; display: flex; justify-content: center; align-items: center;" *ngIf="isLoading">
    <div>
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>
  <div>
    <ion-refresher slot="fixed" (ionRefresh)="getDockerInfo($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-list>
      <ion-item *ngFor="let c of imagens" (click)="containerClick(c)">
        <ion-label>{{c.RepoTags[0]}}</ion-label>
        <!-- <ion-note slot="end">{{c.State === 'exited' ? "Parado" : c.State === 'created' ? "Criado" : "Rodando"}}</ion-note> -->
      </ion-item>
    </ion-list>
  </div>
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="presentAlertPrompt()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>